<% include ../partials/header %>	



<div style="margin-left:300px;margin-top:80px">
	<% iitems.forEach(function(item) { %>
	<h5 style="color:blue">user-name  : <span style="color:red"><%=item.u_name%></h5><a href="/profil/<%=item.u_id%>" class="btn btn-danger" style="margin-left:600px">delete account</a><br>
	<h5 style="color:blue">user email : <span style="color:red"><%=item.u_email%></h5><br>
	<h5 style="color:blue">user id    : <span style="color:red"><%=item.u_id%></h5> 
	<% }) %>		
</div>		

	<a id="my_Eve" href="<%=basurl%>/profil/MyEvents" style="margin-left:90px">My Events</a>
	<a id="my_Blo" href="<%=basurl%>/profil/MyBlogs" style="margin-left:1000px">My Blogs</a>
	<div class=""><br>
		<center><h1>All My Events</h1></center>		

	<div class="col s12">
		<% if(items.length > 0) { %>
		<table class="table">	
		<thead>
			<tr>
			    <th style="width:1%;text-align:center">ID</th>
			    <th style="width:10%">Name</th>	
			    <th style="width:10%">Start Date</th>
			    <th style="width:10%">End Date</th>		
				<th style="width:10%">Description</th>
				<th style="width:10%">Location</th>
				<th solspan="2" style="width:20%;text-align:center">Actions</th>
			</tr>
		</thead>
		<tbody>	
				<% items.forEach(function(item,index) { %>
					<tr>
					<td style="width:1%;text-align:center"><%= index + 1 %></td>
					<td style="width:10%"><%= item.e_name%></td>
					<td style="width:10%"><%= item.e_start_date %></td>
					<td style="width:10%"><%= item.e_end_date %></td>
					<td style="width:10%"><%= item.e_desc %></td>
					<td style="width:10%"><%= item.location %></td>
					<td solspan="2" style="width:20%;text-align:center">
					
						<a href="/event/edit/<%= item.e_id%>" class="btn btn-success">Edit</a>
						<a href="/event/delete/<%= item.e_id%>" class="btn btn-danger">Delete</a>
					
					</td>	
					</tr>
					<% }); %>
				</tbody>	
				</table>
					<% }else{ %>
					<!--<p><strong>No records yet......</strong></p>-->
					<% } %>
				</div>
				</div>	
