<% include ../partials/header %>	

<div style="margin-left:300px;margin-top:80px">
	<% items.forEach(function(item) { %>
	<label> user-name  : <%=item.u_name%></label><a href="/profil/<%=item.u_id%>" class="btn btn-danger" style="margin-left:600px">delete account</a><br>
	<label> user email : <%=item.u_email%></label><br>
	<label> user id : <%=item.u_id%></label>
	<% }) %>		
</div>		
			<a id="my_Eve" href="<%=basurl%>/profil/MyEvents" style="margin-left:90px">My Events</a>
			<a id="my_Blo" href="<%=basurl%>/profil/MyBlogs" style="margin-left:1000px">My Blogs</a>
			
